body {
  overflow-x: hidden;
}

/* hello section */
.hello-section {
  position: relative;
  background: #ff62bc;
  padding: 6rem 2rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.hello-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  flex-wrap: wrap;

  .about-profile-image-wrapper {
    display: block;
    position: relative;
    height: auto;
    aspect-ratio: 1/1.3;
    width: 35%;
    margin: 0;
  }
}

.hello-text {
  flex: 1;
  min-width: 280px;
  margin-left: 4%;
  width: 48%;
}

.hello-title-top {
  font-family: 'Bungee', sans-serif;
  font-size: 5rem;
  color: #343434;
  font-size: clamp(3.5rem, 4vw, 5rem);
}

.hello-title-bottom {
  font-family: 'Bungee', sans-serif;
  color: #343434;
  font-weight: bold;
  font-size: clamp(4.5rem, 5vw, 6.5rem);
}

.hello-subtitle {
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff94c;
  line-height: 1.5;
  margin-top: 1rem;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

/* UFO + Girl */
.ufo-wrapper {
  flex: 1;
  position: relative;
  /* height: 300px; */
  right: -30px;
  /* width: 60%; */
  /* top: 10%; */
}

.ufo {
  position: absolute;
  top: -10%;
  top: clamp(-60px, -5vw, 0px);
  width: 50%;
  width: clamp(220px, 20vw, 240px);

  z-index: 2;
}

/* #rabbit-ufo-all_svg__ufo {
  animation: floatUfo 4s ease-in-out infinite;
} */

/* @keyframes floatUfo {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(55px);
  }
} */

/* light animation */
/* .light {
  z-index: 0;
  opacity: 0;
  animation: lightBeamLoop 5s ease-in-out infinite;

}

@keyframes lightBeamLoop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* girl animation */ 
/* .girl {
  opacity: 0;
  animation: girlLoop 5s ease-in-out infinite;

} */

/* .ufo-wrapper.active {
  opacity: 1;
  transform: translateY(0);
} */

 /* @keyframes girlLoop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  22%,
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}  */


/* hello end */

/* About Section */

.grid-overlay-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(63, 176, 218, 0.7) 3px, transparent 0),
    linear-gradient(90deg, rgba(63, 176, 218, 0.7) 3px, transparent 0);
  background-size: 200px 200px;
  pointer-events: none;
  z-index: -1;
}

.grid-overlay-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(63, 176, 218, 0.7) 3px, transparent 0),
    linear-gradient(90deg, rgba(63, 176, 218, 0.7) 3px, transparent 0);
  background-size: 200px 200px;
  pointer-events: none;
  z-index: -1;
}

.diagonal-top-about {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 410px;
  background-color: #00cfff;
  background-image: linear-gradient(
    90deg,
    rgba(63, 176, 218, 0.7) 3px,
    transparent 0
  );
  background-size: 200px 200px;
  transform: skewY(-10deg);
  z-index: -1;
  pointer-events: none;
}

.about-page-section {
  background-color: #00cfff;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  z-index: 5;
  padding-bottom: 100px;
}

.about-card {
  position: relative;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 2rem 5rem;
  width: 90%;
  max-width: 1000px;
  height: auto;
  /* height: 700px; */
  margin: 0px auto;
  margin-bottom: 760px;
  border: 5px solid #343434;
}

.about-box {
  display: flex;
  p {
    width: 50%;
  }
}

.ufo-bottom-text {
  padding-top: 1.5rem;
}

.about-page-content {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.about-page-text {
  flex: 2;
  text-align: left;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.6rem;
  color: #222;
  line-height: 48px;
}

.about-page-text h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* profile picture */

.about-profile-image-wrapper {
  display: none;
  position: absolute;
  border-radius: 2rem;
  border: 5px solid #343434;
  overflow: hidden;
  right: 8%;
  top: -23%;
}

/* 背景の桜画像 */
.about-profile-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* 通常の顔 */
.about-profile-image.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* ホバー時の顔 */
.about-profile-image.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  opacity: 0;
}

/* ホバーで入れ替わる */
.about-profile-image-wrapper:hover .front {
  transform: translateY(100%);
  opacity: 0;
}

.about-profile-image-wrapper:hover .side {
  transform: translateY(0%);
  opacity: 1;
}

.about-profile-text {
  font-family: 'Fredoka', sans-serif;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 2px 8px rgba(184, 49, 148, 0.8);
  pointer-events: none;
}

/* profile image end */

.about-section-title {
  font-family: 'Bungee', sans-serif;
  text-align: left;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: #02cffe;
  padding: 0.5rem 0;
  text-align: left;
  margin-bottom: 1rem;
}

.about-section-title.skill {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #02cffe;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
}

.about-section-title.extra {
  font-family: 'Bungee', sans-serif;
  text-align: left;
  font-size: 2.5rem;
  color: #fff94c;
  padding: 0.5rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-card {
  position: absolute;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto 3rem;
  border: 5px solid #343434;
}

.skills-card.technical {
  background-color: #fff94c;
  bottom: -450px;
  max-width: 550px;
  padding: 20px;
  /* left: 516px; */
  left: -40px;
  z-index: 2;
}

.skills-card.extra {
  position: absolute;
  background-color: #ff62bc;
  width: 750px;
  width: 80%;
  max-width: 730px;
  bottom: -770px;
  left: 230px;

  @media (min-width: 1024px) {
    bottom: -815px;
  }
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 1rem;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
}

.skills-icons > .icon-with-label:nth-last-child(-n + 3):nth-child(n + 11) {
  grid-column: span 1;
  justify-self: center;
}

.skills-icons img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skills-icons img:hover {
  transform: scale(1.1);
}

.icon-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  gap: 0.3rem;
}

.icon-with-label img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.icon-with-label img:hover {
  transform: scale(1.1);
}

.icon-with-label .label {
  font-family: 'Fredoka', sans-serif;
  font-size: 1rem;
  color: #343434;
  text-align: center;
}

.extra-skills-list {
  list-style: none;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  font-size: clamp(8px, 1vw, 1.3rem);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  z-index: 2;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.extra-skills-list li {
  background: #fff;
  color: #343434;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid #ff62bc;
  width: 47%;
}

.skills-card.extra.relative-version {
  position: relative;
  /* margin: 2rem auto; */
}

/* chameleon */
.chameleon-wrapper {
  position: absolute;
  left: 70%;
  transform: translateX(-5%) scaleX(-1);
  bottom: 390px;
  z-index: 1;
  pointer-events: none;
}

/* アニメーション用クラス */
.colorful-chameleon {
  width: 200px;
  width: clamp(150px, 2vw, 200px);
  position: relative;
  opacity: 0;
  transform: translateY(40px);
}
@keyframes popFromBehindBox {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.8) rotate(-8deg);
    z-index: 0;
  }
  40% {
    opacity: 1;
    transform: translateY(-20px) scale(1.05) rotate(3deg); /* ジャンプ！ */
    z-index: 3;
  }
  60% {
    transform: translateY(0px) scale(1) rotate(0deg); /* 着地1 */
  }
  75% {
    transform: translateY(-6px); /* 軽くバウンド */
  }
  90% {
    transform: translateY(0px); /* 着地2 */
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.colorful-chameleon.animate {
  animation: popFromBehindBox 1.2s ease-out forwards;
}

/* what my classmates say */
.classmates-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

.say-title {
  display: inline-block;
  margin: 0 auto;
}

.say-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  /* padding-top: 230px; */
}

.say-title-image-wrapper {
  text-align: center;
}

.say-title-image {
  width: 70px;
  text-align: center;
}

.subtitles.say {
  font-family: 'Bungee', sans-serif;
  font-size: 2.5rem;
  font-size: clamp(1rem, 4vw, 2.5rem);
  color: #222222;
  border-bottom: 4px solid #ff4dc4;
  display: inline-block;
  /* h2 {
    font-size: clamp(24px, 3vw, 60px);
  } */
}

.classmates-grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin-bottom: 10%;
}

.classmate-card {
  width: 31%;
  max-width: 450px;
  background: #fff;
  border: 5px solid #343434;
  border-radius: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* margin: 0 2rem; */
}

.profile-photo {
  max-width: 150px;
}

.classmate-card h3 {
  margin: 0.5rem 1rem;
}

.classmate-card h3 a {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5rem;
  color: #ff62bc;
  margin-bottom: 2rem;
}

.classmate-card p {
  font-family: 'Fredoka', sans-serif;
  font-size: 1rem;
  font-size: clamp(10px, 1.2vw, 16px);
  color: #333;
  line-height: 1.6;
  margin: 0;
}

/* about section end */

/* my look */

.my-looks-about-section::before {
  content: '';
  position: absolute;
  top: -120px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 100vw;
  border-color: transparent transparent #fff94d transparent;
  z-index: -1;
  pointer-events: none;
  transform: scale(-1, 1);
}

.my-looks-about-section::after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 130vw;
  border-color: transparent transparent #fff94d transparent;
  z-index: -1;
  pointer-events: none;
  transform: scale(-1, -1);
}

.about-yellow-bg-top {
  width: 100%;
  position: absolute;
  top: -300px;
  z-index: 5;
  right: 0;
  left: 0;
  height: 300px;
}

.my-looks-about-section {
  background-color: #fff94c;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  z-index: 6;
  padding-bottom: 90px;
  /* top: -300px; */
}

.my-look-title {
  display: inline-block;
  margin-left: 40px;
}

.my-look-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.my-look-title-image-wrapper {
  text-align: center;
}

.my-look-title-image {
  width: 110px;
  text-align: center;
}

.subtitles.look {
  font-family: 'Bungee', sans-serif;
  font-size: 2.5rem;
  color: #222222;
  border-bottom: 4px solid #ff4dc4;
  display: inline-block;
}

.made-by-me.about {
  font-family: 'Fredoka', sans-serif;
  color: #ff4dc4;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-top: 70px;
}

.my-look-title {
  .made-by-me.about.mobile {
    margin: 0;
    display: none;
    text-align: center;
  }
}

.about-yellow-bg-bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  transform: scale(-1);
}

.footer-about {
  padding-top: 160px;
}

.sewing-machine.about {
  position: absolute;
  width: 250px;
  right: 90px;
  bottom: 513px;
  z-index: 5;
}

.sewing-machine.about {
  position: absolute;
  /* width: 250px; */
  width: 15%;
  max-width: 250px;
  /* right: 220px; */
  right: 15%;
  top: -10%;
  z-index: 6;
  transform: rotate(0deg);
}
.tomato.about {
  position: absolute;
  /* width: 200px; */
  width: 15%;
  max-width: 200px;
  right: 8%;
  top: -30%;
  z-index: 5;
}

.thread.about {
  position: absolute;
  /* width: 150px; */
  width: 15%;
  max-width: 150px;
  right: 5%;
  top: 2%;
  z-index: 5;
}

.fabric.about {
  position: absolute;
  width: 240px;
  left: 75px;
  top: -200px;
  z-index: 5;
}







/* Responsive */

@media (min-width: 1600px) {
  .diagonal-top-about {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 410px;
    background-color: #00cfff;
    background-image: linear-gradient(
      90deg,
      rgba(63, 176, 218, 0.7) 3px,
      transparent 0
    );
    background-size: 200px 200px;
    transform: skewY(-8deg);
    z-index: -1;
    pointer-events: none;
  }

  .skills-card.extra {
    position: absolute;
    background-color: #ff62bc;
    width: 850px;
    bottom: -770px;
    left: 430px;
  }

  .classmates-grid {
    --gap: clamp(12px, 2vw, 24px);
    --cols: 3;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
    margin-bottom: 10%;
  }

  .classmate-card {
    width: 31%;
    max-width: 450px;
    background: #fff;
    border: 5px solid #343434;
    border-radius: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100vw;
  }

  .hello-section {
    position: relative;
    background: #ff62bc;
    padding: 2rem 3rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 0;
  }

  .hello-text {
    margin-inline: auto;
    max-width: fit-content;
  }

  .hello-title-top {
    font-size: 2.5rem;
  }

  .hello-title-bottom {
    font-size: 3.5rem;
  }

  .hello-subtitle {
    font-size: 1.5rem;
  }

  .ufo-wrapper {
    flex: 1;
    position: relative;
    height: 50px;
    top: 0px;
    /* transform: scale(1.5); */
  }

  .ufo {
    position: absolute;

    width: 70%;
    width: clamp(120px, 10vw, 150px);
    z-index: 2;
    top: -60%;

    transform: translateX(-0%);
  }

  /* light animation */
  /* .light {
    position: absolute;

    left: -15%;
    width: 35%;
    z-index: 0;
    opacity: 0;
    animation: lightBeamLoop 5s ease-in-out infinite;
    top: 90%;
  } */

  /* .girl {
    position: absolute;
    left: 2%;
    width: 20%;
    width: clamp(40px, 10vw, 80px);
    transform: translateX(-50%) translateY(20px) scaleX(-1);
    opacity: 0;
    z-index: 1;
    animation: girlLoop 5s ease-in-out infinite;
    top: 80px;
  } */

  .about-box {
    display: flex;

    p {
      width: 50%;
    }
    .ufo-wrapper {
      width: 50%;
    }
  }

  .about-page-section {
    background-color: #00cfff;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
    z-index: 5;
    padding-bottom: 50px;
    /* padding-top: 380px; */
  }

  .about-section-title.skill {
    font-family: 'Bungee', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-size: clamp(1.8rem, 8vw, 2.5rem);
    color: #02cffe;
    padding: 0.8rem 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .extra-skills-list {
    font-size: clamp (1.8rem, 8vw, 2.5rem);
  }

  .skills-card.technical,
  .skills-card.extra {
    position: static;
    width: 100%;
    margin: 2rem auto;
  }

  .skills-icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .icon-with-label {
    margin-inline: auto;

    img {
      width: 60%;
    }

    span.label {
      font-size: clamp(12px, 1.2vw, 1rem);
    }
  }
  .extra-skills-list li {
    background: #fff;
    color: #343434;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 2px solid #ff62bc;
    width: 100%;
    @media (min-width: 500px) {
      width: 47%;
    }
  }
  .about-card {
    height: auto;
    /* margin: 100px auto 100px; */
    padding: 2rem 1rem;
    width: 90%;
    margin-bottom: 60px;
  }

  .about-page-text {
    font-size: 1rem;
    line-height: 1.5;

    p {
      font-size: clamp(16px, 2.5vw, 16px);
      
    }
  }

  .chameleon-wrapper {
    position: absolute;
    left: 80%;
    transform: translateX(-50%) scaleX(-1);
    bottom: -5px;
    z-index: 1; /* 最初は box より後ろに見せる */
    pointer-events: none; /* カーソル干渉しないように */
  }

  .colorful-chameleon {
    width: 90px;
    position: relative;
    opacity: 0;
    transform: translateY(40px);
  }
  .classmates-section {
    width: 90%;
    margin-inline: auto;
    padding-top: 0;
  }

  .classmates-grid {
    gap: 20px;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .classmate-card {
    flex: none;
    width: 100%;

    p {
      font-size: 1rem;
    }
  }

  .my-looks-about-section::before {
    content: '';
    position: absolute;
    top: -90px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 100vw;
    border-color: transparent transparent #fff94d transparent;
    z-index: -1;
    pointer-events: none;
    transform: scale(-1, 1);
  }

  .my-looks-about-section::after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 130vw;
    border-color: transparent transparent #fff94d transparent;
    z-index: -1;
    pointer-events: none;
    transform: scale(-1, -1);
  }

  .my-looks-about-section {
    margin-top: 0rem;
    padding: 0rem 0rem 5rem;

    top: 0;
  }

  .made-by-me.about {
    text-align: right;
    font-size: 1rem;
    margin: 2rem auto 0;
  }

  .sewing-machine.about {
    position: absolute;
    display: block;
    width: 30%;
    max-width: 200px;
    right: 30px;
    top: -50px;
    z-index: 5;
  }

  .tomato.about,
  .thread.about {
    display: none;
  }
}

@media (min-width: 600px) {
  .skills-icons {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 769px) {
  .hello-section .about-profile-image-wrapper {
    display: block;
  }
  .about-page-section .about-profile-image-wrapper.mobile {
    display: none;
  }
}

/* モバイルのとき → about-section だけ表示 */
@media (max-width: 768px) {
  .hello-section .about-profile-image-wrapper {
    display: none;
  }
  .about-profile-image-wrapper.mobile {
    display: block; /* ←ここで表示 */
    position: relative;
    max-width: 280px;
    min-width: 250px;
    height: auto;
    aspect-ratio: 1/1.3;
    width: 35%;
    margin: 0 auto;
    top: -80px;
  }
  .about-profile-image-wrapper {
    display: none;
    position: absolute;
    border-radius: 2rem;
    border: 5px solid #343434;
    overflow: hidden;
    right: 0;
    top: 0;
  }

    @keyframes floatUfoMobile {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .ufo {
    animation: floatUfoMobile 4s ease-in-out infinite;
  }

    /* light animation */
   /* .light {
    position: absolute;

    left: -15%;
    width: 35%;
    z-index: 0;
    opacity: 0;
    animation: lightBeamLoop 5s ease-in-out infinite;
    top: 90%;
  }  */

  /* .girl {
    position: absolute;
    left: 2%;
    width: 20%;
    width: clamp(40px, 10vw, 80px);
    transform: translateX(-50%) translateY(20px) scaleX(-1);
    opacity: 0;
    z-index: 1;
    animation: girlLoop 5s ease-in-out infinite;
    top: 80px;
  }  */
}

@media (max-width: 480px) {
  .ufo-wrapper {
    position: relative;
    width: clamp(100px, 40vw, 200px);
    top: 40%;
    right: -10px;
    transform: translateX(0%);
  }
}
