.playground {
  background-color: #806BFF;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 200px;

  h1 {
    font-size: 10rem;
    text-align: center;

}

p {
  text-align: center;
  font-size: 3rem;
}
}




.playground-section::before {
  content: '';
  position: absolute;
  bottom: -146px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 146px 0;
  border-color: transparent #806BFF transparent transparent;
  z-index: -1;
  pointer-events: none;
}