/* BumperProject.css */
.project-detail-page {
  position: relative;
}

.instagram-image {
  width: 90%;
  max-width: 1230px;
  height: auto;
  display: block;
  margin: 2rem auto;
  border-radius: 20px;
}

.box-split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-text {
  flex: 1 1 45%;
}

.box-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}

.box-image {
  flex: 1 1 36%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  align-self: flex-start;
  max-width: 700px;
}


.tight-paragraph {
  margin: 3rem 0; 
  padding: 0; 
}



.footer-detail {
  padding-top: 130px;
}


.project-slider-detail {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.visit-instagram-button {
  font-family: 'Bungee', sans-serif;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(to right, #ff6ec4, #7873f5); 
/* outline: 4px solid rgb(0, 0, 0); */
  color: white;

  font-weight: bold;
  font-size: 2rem;
  border-radius: 9999px; 
  text-decoration: none;
  transition: all 0.3s ease;
}

.visit-instagram-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}
