Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]



RewriteCond %{HTTP_HOST} ^candyfukaya\.ca$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.candyfukaya\.ca$ [NC]
RewriteRule ^(.*)$ https://candyfukaya.com/$1 [L,R=301]
 