/* BumperProject.css */

/* html,body {
  scroll-behavior: smooth;
} */
.project-detail-page {
  position: relative;
    scroll-behavior: smooth;
}




.box-split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
    padding: 0 20px;
}

.box-text {
  flex: 1 1 45%;
}

.box-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}

.box-image {
  flex: 1 1 36%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  align-self: flex-start; 
  max-width: 700px;
}

/* .box-image.stair {
  max-width: 600px;
    width: 100%;
} */



.green-bg-works.bumper {
  position: absolute;
  /* bottom: -209px; */
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  pointer-events: none;
  transform: scaleY(-1);
}



.project-slider-detail {
  margin: 0 auto;
}

