/* BumperProject.css */
.project-detail-page {
  position: relative;
}








.box-split {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-text {
  flex: 1 1 60%;
}

.tight-paragraph.canada{
  margin-top: 1rem;
}

.suno-link {
  color: #FF61BC;
  font-size: 1.5rem;
}



.ae-screenshot {
  width: 100%;       
  margin: 2rem 0; 
}

.ae-screenshot img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}



.green-bg-works.three-d {
  position: absolute;
  /* bottom: -209px; */
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  pointer-events: none;
  transform: scaleY(-1);
}

.footer-detail {
  padding-top: 130px;
}



.canada-slide .slide-wrapper {
  margin-top: 2rem;
      width: 66%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.canada-slide .splide__slide img {
    vertical-align: bottom;
    border:2px solid #000000;
}