/* 全体 */

.project-detail-page {
  background-color: #79ff4c;
  font-family: 'Fredoka', 'sans-serif';
  color: #000;
}

.detail-box {
  background: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto 30px;
  max-width: 1400px;
}

/* .detail-box-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
} */

.detail-box-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.project-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  row-gap: 50px;

  .detail-box-content {
    font-size: clamp(12px, 1.8vw, 20px);
  }
}

/* .info-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
} */

.project-grid .detail-box {
  width: 48%;

  max-width: 400px;
  margin: 0;
  @media (min-width: 900px) {
    width: 31%;
  }
}

.subtitles {
  margin-bottom: 2rem;
}

/* .back-to-works {
  margin: 40px 0;
  text-align: center;
  z-index: 2;
} */

/* .back-to-works.top {
  margin: 40px 20px;
  text-align: left;
} */

.project-nav {
  display: flex;
  justify-content: center; /* ←中央揃え */
  align-items: center;
  gap: 20px; /* ボタンの間隔 */
  margin: 40px auto;
}

.back-to-works.top {
  margin-top: 2rem;
}

.back-button {
  font-family: 'Bungee', sans-serif;
  font-size: 16px;
  background-color: #ff6ea0;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0;
}

.nav-button {
  font-family: 'Bungee', sans-serif;
  font-size: 16px;
  background-color: #ff6ea0;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button:hover,
.nav-button:hover {
  background-color: #e35b92;
}

.project-detail-page::before {
  content: '';
  position: absolute;
  bottom: -146px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 146px 0;
  border-color: transparent #7aff4c transparent transparent;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 768px) {
  .project-detail-page {
    .box-split {
      display: block;
      padding: 0;
    }
  }
  .project-grid {
    flex-direction: column;

    .detail-box-content {
      font-size: 20px;
      padding: 0;
    }
  }
  .project-grid .detail-box {
    margin: 0 auto;
    width: 100%;
  }

  .detail-box-wrapper {
    padding: 0 20px;
  }
}
