.subtitles.all-projects {
  font-family: 'Bungee', sans-serif;
  font-size: 38px;
  font-size: clamp(18px, 4vw, 38px);
  margin: 0 auto;
  border-bottom: 8px solid #00cfff;
  display: inline-block;
  max-width: 100%; /* ✅ 親の90%までに制限 */
  white-space: normal; /* ✅ 折り返しを許可 */
  word-break: break-word; /* ✅ 長い単語でも折り返す */
  text-align: center;
  position: relative;
  white-space: pre-line;
}

.subtitles.all-projects::after {
  content: '';
  position: absolute;
  bottom: -8px; /* 線と文字の間隔調整 */
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #00cfff;
  z-index: -1;
}

.all-projects-title {
  display: inline-block;
}

.all-projects-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .subtitles.all-projects {
    font-size: clamp(14px, 4vw, 20px);
  }
}

@media (max-width: 480px) {
  .subtitles.all-projects {
    /* font-size: 18px; */
  }
}
